.btn-primary{
  background-color: #B4F461;
  border-style: none;
}
.input-field{
  background-color: ghostwhite;
  border-style: none;
  width: 100%;
  height:100% ;
}
.image{
  width: 100%;
  height: 100%;
}